/*Selector {
	ProperY: value;
}
Made by Jason Kassies
*/
body {
	background-image: url(media/sky.jpg);
	background-size: cover;
}

h1{
	color: red;
}

h2{
	color: blue;
}

li {
	list-style: none;
	display: inline-block;
}

.bodyText {
	background-color: #FFFDD0;
	border: 5px solid rgb(235, 140, 135);
}