/*Selector {
	Propery: value;
}
Made by Jason Kassies
*/
body {
	background-image: url(media/sky.jpg);
	background-size: cover;
}

h1{
	color: red;
}

h2{
	color: blue;
}

li {
	list-style: none;
	display: inline-block;
}

img {
	border: 3px solid pink;
	margin: 0px 0px 10px 10px; /* i want padding on the bottom and left only */
}

footer {
	/* padding must go last or it breaks ...idk why */
	clear: both;
	text-align: left;
	border: 5px solid pink;
	background-color: #FFFDD0;
	padding-left: 20px
}

.abtContainer {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	height: 400px
	
}

.bodyText {
	background-color: #FFFDD0;
	border: 5px solid rgb(235, 140, 135);
	
}

.me-cute {
	/* idk why but this dont work
	width: 268px; 
	height: 400px;
	*/

}

